/* Features Section Styles */
#features {
    padding: 60px 20px;
  }
  
  .for-clients,
  .for-lawyers {
    margin-bottom: 50px;
  }
  
  h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  
  .features-cards {
    display: flex;
    justify-content: space-around;
  }
  
  .feature-card {
    width: 45%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    gap: 20px;
  }
  
  .feature-card img {
    width: 30%;
    border-radius: 10px;
  }
  
  .feature-card p {
    width: 70%;
    font-size: 1.1rem;
  }
  
  hr {
    border: 1px solid white;
    margin: 40px 0;
  }
  
  @media (max-width: 768px) {
    .features-cards {
      flex-direction: column;
      align-items: center;
    }
  
    .feature-card {
      width: 80%;
      margin-bottom: 20px;
    }
  }
  