/* Navbar Styles */
.navbar {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    padding: 10px 10px;
    background-color: rgba(168, 178, 246, 0.177); /* Slight transparency */
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
    z-index: 10;
  }
  
  .navbar.scrolled {
    padding: 4px 4px;
    padding-left: 20px;
    background-color: rgba(173, 179, 255, 0.251); /* Less transparency when scrolled */
  }
  
  .navbar .logo img {
    height: 50px;
    width: auto;
  }
  
  .navbar .nav-links {
    display: flex;
    list-style: none;
  }
  
  .navbar .nav-links li {
    margin-left: 20px;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    position: relative;
  }
  
  .navbar .nav-links li a {
    color: white; /* Make text white */
    text-decoration: none;
  }
  
  .navbar .nav-links li a.active {
    color: white; /* Active link text color */
    font-weight: bold;
    border-bottom: 3px solid white; /* White underline for active link */
    padding-bottom: 5px;
  }
  
  .navbar .nav-links li a:hover {
    color: #3498db; /* Hover effect on text (optional) */
  }
  
  .navbar .nav-links li:hover {
    color: #ffffff;
  }
  
  .navbar .nav-links li::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .navbar .nav-links li:hover::after {
    transform: scaleX(1); /* Underline effect on hover */
  }
  