body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('images/login%20bg.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .main-container {
    display: flex;
    width: 100%;
    max-width: 1000px;
    max-height: 700px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px 10px rgba(212, 39, 39, 0.1);
    overflow: hidden;
    animation: float 5s ease-in-out infinite;
  }
  
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .animation-container {
    flex: 1.5;
    background: #c7ccef;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .animation-video {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  
  .form-container {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  h1 {
    font-size: 28px;
    color: #02189c;
    font-weight: bold;
    margin-bottom: 0px;
  }
  
  .line {
    height: 2px;
    background: #3652fc;
    width: 100%;
    margin: 10px auto 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    align-items: stretch; 
  }
  
  label {
    font-size: 14px;
    color: #827ee3;
    font-weight: bold;
    text-align: left;
    display: block; 
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
  input {
    border: 2px solid #eaeaec;
    border-radius: 8px;
    padding: 10px;
    width: 94%;
    color: #2c06ac;
    font-size: 14px;
    background-color: #f9f9f9;
    transition: border 0.3s;
  }
  
  input:focus {
    border: 2px solid #3652fc; 
    background-color: #ffffff;
    outline: none; 
  }
  
  input::placeholder {
    color: #b9b7ee;
  }
  
  .submit-btn {
    background: #3652fc;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .submit-btn:hover {
    background: #6277fe;
  }
  
  .or {
    margin: 20px 0;
    font-size: 14px;
    color: #827ee3;
    position: relative;
  }
  
  .or::before,
  .or::after {
    content: "";
    display: block;
    height: 1px;
    background: #827ee3;
    width: 40%;
    position: absolute;
    top: 50%;
  }
  
  .or::before {
    left: 0;
  }
  
  .or::after {
    right: 0;
  }
  
  .google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #3652fc;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    
    cursor: pointer;
    transition: background 0.3s, border 0.3s;
  }
  
  .google-btn img {
    width: 20px;
    height: 20px;
  }
  
  .google-btn:hover {
    background: #6277fe;
    border: 1px solid #0099ff;
  }
  
  .password-container {
    position: relative;
    display: flex;
    align-items: center;
    border: none;
  }
  
  .password-container input {
    width: 100%;
    padding-right: 100px; 
  }
  
  .toggle-password-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none; 
  }
  
  .toggle-password-btn:focus,
  .toggle-password-btn:active,
  .toggle-password-btn:hover {
    outline: none; 
  }
  
  .toggle-password-btn img {
    width: 24px;
    height: 24px;
    transition: opacity 0.3s;
  }
  
  .toggle-password-btn img:hover {
    opacity: 0.7; 
  }
  
  .error {
    color: rgb(0, 94, 255);
    font-size: 14px;
    margin-top: 5px;
  }


  input[type="password"]::-ms-reveal,
  input[type="password"]::-ms-clear,
  input[type="password"]::-webkit-contacts-auto-fill-button,
  input[type="password"]::-webkit-credentials-auto-fill-button {
    display: none !important;
  }

  input[type="password"]::-webkit-inner-spin-button,
  input[type="password"]::-webkit-outer-spin-button,
  input[type="password"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="password"] {
    -webkit-text-security: disc !important;
  }
  
  @media (max-width: 768px) {
    .main-container {
      flex-direction: column;
    }
  
    .animation-container {
      height: 250px;
      flex: unset;
    }
  
    .animation-video {
      height: 100%;
    }
  
    .form-container {
      padding: 20px;
    }
  }
  