body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('images/login%20bg.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .new-password-main-container {
    display: flex;
    width: 100%;
    max-width: 400px;
    max-height: 800px;
    background: rgb(253, 253, 253);
    border-radius: 12px;
    box-shadow: 0 4px 10px 10px rgba(212, 39, 39, 0.1);
    overflow: hidden;
    animation: float 5s ease-in-out infinite;
  }
  
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  
  .form-container {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  h1 {
    font-size: 28px;
    color: #0026ff;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .line {
    height: 2px;
    background: #3652fc;
    width: 100%;
    margin: 10px auto 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    align-items: stretch; 
  }
  
  label {
    font-size: 14px;
    color: #827ee3;
    font-weight: bold;
    text-align: left;
    display: block; 
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
  input {
    border: 2px solid #eaeaec;
    border-radius: 8px;
    padding: 10px;
    width: 96%;
    color: #2c06ac;
    font-size: 14px;
    background-color: #f9f9f9;
    transition: border 0.3s;
  }
  
  input:focus {
    border: 2px solid #3652fc; 
    background-color: #ffffff;
    outline: none; 
  }
  
  input::placeholder {
    color: #b9b7ee;
  }
  
  .submit-btn {
    background: #3652fc;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .submit-btn:hover {
    background: #6277fe;
  }
  

  .password-container {
    position: relative;
    display: flex;
    align-items: center;
    border: none;
  }
  
  .password-container input {
    width: 100%;
    padding-right: 100px; 
  }
  
  .toggle-password-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none; 
  }
  
  .toggle-password-btn:focus,
  .toggle-password-btn:active,
  .toggle-password-btn:hover {
    outline: none; 
  }
  
  .toggle-password-btn img {
    width: 24px;
    height: 24px;
    transition: opacity 0.3s;
  }
  
  .toggle-password-btn img:hover {
    opacity: 0.7; 
  }
  

  
  @media (max-width: 768px) {
    .main-container {
      flex-direction: column;
    }
  
    .animation-container {
      height: 250px;
      flex: unset;
    }
  
    .animation-video {
      height: 100%;
    }
  
    .form-container {
      padding: 20px;
    }
  }
  