body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('images/login%20bg.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .main-container {
    display: flex;
    width: 100%;
    max-width: 1000px;
    max-height: 700px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px 10px rgba(212, 39, 39, 0.1);
    overflow: hidden;
    animation: float 5s ease-in-out infinite;
  }
  
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }